body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgba(211, 211, 211, 0.075);
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background: rgba(0, 0, 0, 0.212);
}

footer{
    text-align: center;
}

nav a{
    transition: 0.3s ease-in-out;
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    color: rgba(164, 205, 238, 0.644);
}