*{
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul{
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    margin-left: 1rem;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
    border-radius: 5px;
    background-color: white;
    color: black;
}

main {
    padding: 2rem;
}
section {
    margin-bottom: 3rem;
}

footer {
    background-color: #333333c2;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#contact {
    color: black;
}

.artigo a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.artigo a:hover {
    border-radius: 5px;
    background-color: black;
    color: white;
}

.artigo {
    display: flex;
    flex-direction: column;
}